<ng-container *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="isLoaded">
  <div class="page-wrapper">
    <div class="card">
      <div class="flex-row gap-2">
        <!-- Game Image -->
        <div class="flex-column">
          <img
            [src]="this.game.original_url"
            class="poster"
            alt="Profile Image"
          />
        </div>
        <!-- Game Information -->
        <div class="flex-column">
          <div class="flex-row justify-content-between">
            <h5 class="fw-bold">{{ this.game.name }}</h5>
            <p-rating
              [(ngModel)]="average"
              class="rating"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
          </div>
          <!-- Other Game Information -->
          <div>
            <h6 class="text-secondary">ID: {{ this.game.id }}</h6>
            <h6 class="text-secondary">
              Release Date: {{ this.game.releaseDate }}
            </h6>
            <h6 class="text-secondary">Deck: {{ this.game.deck }}</h6>
            <h6 class="text-secondary">
              Favorite Count: {{ this.game.favorite_count }}
            </h6>
          </div>
          <!-- Screenshots Carousel -->
          <div>
            <h6 class="fw-bold">Screenshots</h6>
            <p-galleria
              [value]="this.game.screenshots"
              [numVisible]="5"
              [circular]="true"
              [showItemNavigators]="true"
              [showThumbnails]="false"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'max-width': '640px' }"
            >
              <ng-template pTemplate="item" let-item>
                <img [src]="item" alt="" class="item" />
              </ng-template>
            </p-galleria>
          </div>
          <!-- Platforms -->
          <div>
            <h6 class="fw-bold">Platforms</h6>
            <div *ngFor="let platform of this.game.platforms" class="card">
              {{ platform }}
            </div>
          </div>
          <!-- Other Information Sections -->
          <div>
            <h6 class="fw-bold">Franchises</h6>
            <div *ngFor="let franchise of this.game.franchises" class="card">
              {{ franchise }}
            </div>
          </div>
          <div>
            <h6 class="fw-bold">Genres</h6>
            <div *ngFor="let genre of this.game.genres" class="card">
              {{ genre }}
            </div>
          </div>
          <div>
            <h6 class="fw-bold">Publishers</h6>
            <div *ngFor="let publisher of this.game.publishers" class="card">
              {{ publisher }}
            </div>
          </div>
          <div>
            <h6 class="fw-bold">Similar Games</h6>
            <div
              *ngFor="let similar of this.game.similar_games.slice(0, 5)"
              class="card"
            >
              {{ similar }}
            </div>
          </div>
          <div>
            <h6 class="fw-bold">Developers</h6>
            <div *ngFor="let developer of this.game.developers" class="card">
              {{ developer }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-reviews
      [entertainmentType]="entertainmentType"
      [entertainmentTitle]="game.name"
      [entertainmentImage]="game.original_url"
      (getAverage)="onGetAverage()"
    ></app-reviews>
  </div>
</ng-container>
