.item{
  min-width: 200px;
  max-width: 200px;
  padding:0;
  border-radius: 15px;
  overflow-x: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  &:hover{
    transform: scale(1.06);
  };
}

.list_container {
  max-width:100%;
  display: flex;
  justify-content: center;

}



ul{
  list-style: none;
  padding: 0;
  padding-left: 10px;
  margin: 0;

  li{
    font-size: 20px;
  }
}
.portrait{
  border-radius: 15px;
  max-height: 300px;
  max-width: 300px;;
  transition: transform 0.2s ease-in-out;
  &:hover{
    transform: scale(1.06);
  };
}
.portraitupdate{
  width: 100%;
  background-color: rgb(182,173,168);
  align-content: center;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;

  a {
    transition: transform 0.2s ease-in-out;
    img{
      max-height: 40px;
      max-width: 40px;
      display: inline-block;
      margin-right: 20px;
      transition: transform 0.2s ease-in-out;
    }
    &:hover{
      transform: scale(1.2);
    }
  }
}


.log-button {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 520;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
}

.carousel-wrapper{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.top-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
}

@media (max-width: 991px) {
  .carousel-wrapper{
    padding-left: 2%;
    padding-right: 2%;
  }
  .item{
    min-width: 180px;
    max-width: 180px;
  }
  .top-wrapper{
    margin-left: 2%;
    margin-right: 2%;
  }
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}
