:host ::ng-deep .p-tabview-nav {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

:host ::ng-deep .p-tabview-panels {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #343434;
}
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #343434;
}

i {
  font-size: 20px;
  margin-right: 0.5rem;
}

.card-image {
  width: 100px;
  border-radius: 10px;
}

.card {
  padding: 11px;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}
