<ng-container *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="isLoaded" >
  <div class="page-wrapper">
    <div>
      <div class="card ">
        <div class="flex-row gap-2">
          <div class="flex-column">
            <img [src]="this.show.poster_path" class=""  alt=" profile image">
          </div>
          <div class="flex-column justify-content-center">
            <h5 class="fw-bold">{{this.show.original_title}}</h5>
            <h6 class="text-secondary">{{this.show.overview}}</h6>
            <h6 class="text-secondary">{{this.show.id}}</h6>
            <h6 class="text-secondary">{{this.show.first_air_date}}</h6>
            <h6 class="text-secondary">{{this.show.last_air_date}}</h6>
            <h6 class="text-secondary">{{this.show.original_language}}</h6>
            <h6 class="text-secondary">{{this.show.status}}</h6>
            <h6 class="text-secondary">{{this.show.favorite_count}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div *ngFor="let actor of this.show.actors">
        <div class="card ">
          <div class="flex-row gap-2">
            <div class="flex-column">
              <img [src]="actor.profile_path" class="crew-profile-image"  alt=" profile image">
            </div>
            <div class="flex-column justify-content-center">
              <h5 class="fw-bold">{{actor.original_name}}</h5>
              <h6 class="text-secondary">{{actor.character}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let producer of this.show.producers">
        <div class="card ">
          <div class="flex-row gap-2">
            <div class="flex-column">
              <img [src]="producer.profile_path" class="crew-profile-image"  alt=" profile image">
            </div>
            <div class="flex-column justify-content-center">
              <h5 class="fw-bold">{{producer.original_name}}</h5>
              <h6 class="text-secondary">{{producer.character}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div *ngFor="let review of this.reviews.reviews">
        <div class="card ">
          <div class="flex-row gap-2">
            <div class="flex-column justify-content-center">
              <p-rating [(ngModel)]="review.rating" class="rating" [readonly]="true" [cancel]="false"></p-rating>
              <h5 class="fw-bold">{{review.date}}</h5>
              <h5 class="fw-bold">{{review.description}}</h5>
              <h5 class="fw-bold">{{review.downvote}}</h5>
              <h5 class="fw-bold">{{review.upvote}}</h5>
              <h5 class="fw-bold">{{review.usersid}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
