<ng-container *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="isLoaded">
  <div class="page-wrapper">
    <div>
      <div>
        <div class="card mt-5">
          <div class="flex-container gap-2">
            <div class="flex-column p-2 image_container">
              <div class="flex-row align-items-center">
                <div>
                  <img
                    [src]="this.show.poster_path"
                    class="image"
                    alt=" profile image"
                  />
                </div>
              </div>
            </div>
            <div class="flex-column mt-2 p-3 info-container">
              <div class="flex-row justify-content-between">
                <div>
                  <h5 class="fw-bold">{{ this.show.original_title }}</h5>
                  <h6 class="text-secondary">
                    {{ this.show.first_air_date }} -
                    {{ this.show.last_air_date }}
                  </h6>
                </div>
                <div>
                  <p-rating
                    [(ngModel)]="average"
                    class="rating"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                </div>
              </div>
              <div class="flex-row">
                <div>
                  <h6 class="">{{ this.show.overview }}</h6>
                  <h6 class="">
                    Favorited by {{ this.show.favorite_count }} people
                  </h6>
                  <h6 class="">Status:{{ this.show.status }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="text-light">Actors</h4>
      <div *ngFor="let actor of this.show.actors">
        <div class="card">
          <div class="flex-row gap-2">
            <div
              class="flex-column"
              *ngIf="
                actor.profile_path == 'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <img
                *ngIf="actor.gender == 1"
                src="assets/avatar-female.svg"
                class="crew-profile-image"
                alt=" profile image"
              />
              <img
                *ngIf="actor.gender == 2 || actor.gender == 0"
                src="assets/avatar-male.svg"
                class="crew-profile-image"
                alt=" profile image"
              />
            </div>
            <div
              class="flex-column"
              *ngIf="
                actor.profile_path != 'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <img
                [src]="actor.profile_path"
                class="crew-profile-image"
                alt=" profile image"
              />
            </div>
            <div class="flex-column justify-content-center">
              <h5 class="fw-bold">{{ actor.original_name }}</h5>
              <h6 class="text-secondary">{{ actor.character }}</h6>
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-light" *ngIf="show.producers.length != 0">Producers</h4>
      <div *ngFor="let producer of this.show.producers">
        <div class="card">
          <div class="flex-row gap-2">
            <div
              class="flex-column"
              *ngIf="
                producer.profile_path ==
                'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <img
                *ngIf="producer.gender == 1"
                src="assets/avatar-female.svg"
                class="crew-profile-image"
                alt=" profile image"
              />
              <img
                *ngIf="producer.gender == 2 || producer.gender == 0"
                src="assets/avatar-male.svg"
                class="crew-profile-image"
                alt=" profile image"
              />
            </div>
            <div
              class="flex-column"
              *ngIf="
                producer.profile_path !=
                'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <img
                [src]="producer.profile_path"
                class="crew-profile-image"
                alt=" profile image"
              />
            </div>
            <div class="flex-column justify-content-center">
              <h5 class="fw-bold">{{ producer.original_name }}</h5>
              <h6 class="text-secondary">{{ producer.character }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-reviews
      [entertainmentType]="entertainmentType"
      [entertainmentTitle]="show.original_title"
      [entertainmentImage]="show.poster_path"
      (getAverage)="onGetAverage()"
    ></app-reviews>
  </div>
</ng-container>
