<div class="page-wrapper">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Internship Information
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card-body">
            <ul class="info">
              <li>
                <div class="field-title">Internship Description</div>
                <div class="field-data">{{data[0]["Internship Description"]}}</div>
              </li>
              <li>
                <div class="field-title">Start - End Date</div>
                <div class="field-data">{{data[0]["Start - End Date"]}}</div>
              </li>
              <li>
                <div class="field-title">Internship Duration - Week-Days</div>
                <div class="field-data">{{data[0]["Internship Duration - Week-Days"]}}</div>
              </li>
              <li>
                <div class="field-title">Company, Department</div>
                <div class="field-data">{{data[0]["Company, Department"]}}</div>
              </li>
              <li>
                <div class="field-title">Responsible Person, Phone</div>
                <div class="field-data">{{data[0]["Responsible Person, Phone"]}}</div>
              </li>
              <li>
                <div class="field-title">Internship Report</div>
                <div class="field-data">{{data[0]["Internship Report"]}}</div>
              </li>
              <li>
                <div class="field-title">Internship Status</div>
                <div class="field-data">{{data[0]["Internship Status"]}}</div>
              </li>
            </ul>
          </div>
          <div class="card-footer text-center text-secondary">
            <span>Lütfen alttaki "Staj Bilgi Sisteminin Kullanımı"nı dikkatlice okuyunuz ve uygulayınız.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Internship Information
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="card-body">
            <ul class="info">
              <li>
                <div class="field-title">Internship Description</div>
                <div class="field-data">{{data[0]["Internship Description"]}}</div>
              </li>
              <li>
                <div class="field-title">Start - End Date</div>
                <div class="field-data">{{data[0]["Start - End Date"]}}</div>
              </li>
              <li>
                <div class="field-title">Internship Duration - Week-Days</div>
                <div class="field-data">{{data[0]["Internship Duration - Week-Days"]}}</div>
              </li>
              <li>
                <div class="field-title">Company, Department</div>
                <div class="field-data">{{data[0]["Company, Department"]}}</div>
              </li>
              <li>
                <div class="field-title">Responsible Person, Phone</div>
                <div class="field-data">{{data[0]["Responsible Person, Phone"]}}</div>
              </li>
              <li>
                <div class="field-title">Internship Report</div>
                <div class="field-data">{{data[0]["Internship Report"]}}</div>
              </li>
              <li>
                <div class="field-title">Internship Status</div>
                <div class="field-data">{{data[0]["Internship Status"]}}</div>
              </li>
            </ul>
          </div>
          <div class="card-footer text-center text-secondary">
            <span>Lütfen alttaki "Staj Bilgi Sisteminin Kullanımı"nı dikkatlice okuyunuz ve uygulayınız.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-header">
      <h5 class="text-center">Staj Bilgi Sisteminin Kullanımı</h5>
    </div>
    <ul id="howto">
      <li>
        <span>1. Staj süresince staj raporunuzu oluşturunuz.</span>
        <ul>
          <li>
              <span>1.a. Haftalık rapor girişi yapıyorsanız,<span class="fw-bold">'Staj Raporunun Kurum ve Staj Bilgileri Bölümü Girişi'</span> işlemini ilk haftalarda yapınız, ve
              <span class="fw-bold">'Haftalık Staj Raporu Girişi'</span> ile haftalık staj raporlarınızı SBS'ye giriniz.</span>
          </li>
          <li>
            <span>1.b. Staj rapor dosyası yüklenecekse, bir dosyaya staj raporunuzu kaydetmeye başlayınız.</span>
          </li>
        </ul>
      </li>
      <li>
        <span>2. Stajınızın bitiminde, IFS'ye haftalık rapor girişlerinizi tamamlayınız, ya da staj rapor dosyanızı tamamlayınız.</span>
      </li>
      <li>
        <span>3. Mutlaka <span class="fw-bold">'Staj Sonuç Raporu Girişi'</span> işlemini yapınız (dosya yüklemeli ise, bu aşamada staj rapor dosyanızı yükleyiniz).</span>
      </li>
      <li>
          <span>4. <span class="fw-bold">'Staj Sonuç Raporu Girişi'</span> işlemini yaptıktan sonra, kurumdaki staj sorumlunuzdan SBS'yi kullanarak stajınızı onaylamasını isteyiniz.
            <br/>
             <span class="text-danger">Siz 'Staj Sonuç Raporu Girişi' işlemini yapmadan, kurum staj sorumlusu stajınızı onaylayamaz.</span></span>
      </li>
      <li>
          <span>
            5. Üniversitede bölümünüzün staj koordinatöründen stajınızı onaylamasını isteyiniz.
          </span>
      </li>
    </ul>
  </div>
</div>


