<footer class="footer">
  <div class="footer-container">
    <div class="footer-wrapper">
      <div class="footer-row ">
        <div class="footer-column">
          <div class="footer-row">
            <a href="https://www.instagram.com/yigitcanyontem/" target="_blank" rel="noopener">
              <i class="fi fi-brands-instagram me-2 social-icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/yigitcanyontem/" target="_blank" rel="noopener">
              <i class="fi fi-brands-linkedin social-icon"></i>
            </a>
            <a href="https://twitter.com/yigitcanyontem/" target="_blank" rel="noopener">
              <i class="fi fi-brands-twitter social-icon"></i>
            </a>
            <a href="https://yigitcanyontem.azurewebsites.net/" target="_blank" rel="noopener">
              <i class="fi fi-rr-browser social-icon"></i>
            </a>
          </div>
        </div>
        <div class="footer-column">
        </div>
        <div class="footer-column logo-white">
          <img src="../../../assets/logo.png" alt=" Logo" height="40px" >
        </div>
      </div>
      <hr/>
      <div class="footer-row-around">
        <h5>About Us</h5>
        <div class="vr"></div>
        <h5>Contact</h5>
        <div class="vr"></div>
        <h5>Terms of Use</h5>
        <div class="vr"></div>
        <h5>Privacy Policy</h5>
      </div>
      <div class="footer-row-around mt-5">
        <h5>© 2023 Spiral. All rights reserved. | Developed with ❤️ by Yiğit Can Yöntem</h5>
      </div>
    </div>
  </div>
</footer>
