<div class="form-wrapper">
  <form [formGroup]="passwordForm"  #formDirective="ngForm" >
    <h4 class="text-center">Change Password</h4>
    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <div class="tui-form__row mb-3">
          <tui-input-password
            formControlName="currentPassword"
          >
            Current Password:
            <input
              tuiTextfield
            />
            <span class="tui-required"></span>
          </tui-input-password>
          <tui-error
            formControlName="currentPassword"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__row mb-3">
          <tui-input-password
            formControlName="newPassword"
          >
            New Password:
            <input
              tuiTextfield
            />
            <span class="tui-required"></span>
          </tui-input-password>
          <tui-error
            formControlName="newPassword"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
        <div class="tui-form__row mb-3">
          <tui-input-password
            formControlName="newPasswordAgain"
          >
            New Password (again):
            <span class="tui-required"></span>
          </tui-input-password>
          <tui-error
            formControlName="newPasswordAgain"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
      </div>
    </div>
    <span class="text-secondary">*Ensure your new password has at least 8 characters, including 1 uppercase letter, 1 lowercase letter, and 1 number.</span>
    <div class="tui-form__buttons justify-content-center text-center align-items-center">
      <div class="button-wrapper">
        <div>
          <button
            tuiButton
            size="l"
            type="submit"
            class="tui-form__button  "
            appearance="green"
            [disabled]="!passwordForm.valid"
          >
            Submit
          </button>
        </div>
        <div>
          <button
            tuiButton
            size="l"
            appearance="red"
            (click)="resetAll()"
            class="tui-form__button "
          >
            Reset
          </button>
        </div>
      </div>
    </div>

  </form>
</div>
