<ng-container *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="isLoaded && !error">
  <p-toast></p-toast>
  <div class="page-wrapper">
    <div>
      <div class="card mt-5">
        <div class="flex-container gap-2">
          <div class="flex-column p-2 image_container">
            <div class="flex-row align-items-center">
              <div>
                <img
                  [src]="this.movie.poster_path"
                  class="image"
                  alt=" profile image"
                />
              </div>
            </div>
          </div>
          <div class="flex-column mt-2 p-3 info-container">
            <div class="flex-row justify-content-between">
              <div>
                <h5 class="fw-bold">{{ this.movie.original_title }}</h5>
                <h6 class="text-secondary">{{ this.movie.release_date }}</h6>
              </div>
              <div>
                <p-rating
                  [(ngModel)]="average"
                  class="rating"
                  [readonly]="true"
                  [cancel]="false"
                ></p-rating>
              </div>
            </div>
            <div class="flex-row">
              <div>
                <h6 class="">{{ this.movie.overview }}</h6>
                <a
                  href="{{ this.movie.imdb_url }}"
                  target="_blank"
                  rel="noopener"
                  >imdb</a
                >
                <h6 class="">
                  Favorited by {{ this.movie.favorite_count }} people
                </h6>
                <h6 class="">{{ this.movie.tagline }}</h6>
              </div>
            </div>
            <div class="flex-row text-center">
              <h6 class="p-0">Languages:&nbsp;</h6>
              <div *ngFor="let lang of this.movie.language">
                {{ lang }}
              </div>
            </div>
            <div class="flex-row text-center">
              <h6 class="p-0">Genres:&nbsp;</h6>
              <div *ngFor="let genre of this.movie.genres">
                {{ genre }} &nbsp;
              </div>
            </div>
            <div *ngIf="this.userLogged">
              <button
                class="favorite_button"
                *ngIf="!favorited"
                (click)="addFavorite()"
              >
                <i class="fi fi-rr-heart"></i>
                <p>Favorite</p>
              </button>
              <button
                class="favorite_button"
                *ngIf="favorited"
                (click)="deleteFavorite()"
              >
                <i class="fi fi-sr-heart"></i>
                <p>Favorited</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="text-light" *ngIf="this.movie.actors.length != 0">Actors</h4>
      <div *ngFor="let actor of this.movie.actors">
        <div class="card">
          <div class="flex-row gap-2">
            <div
              class="flex-column"
              *ngIf="
                actor.profile_path == 'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <a href="/crew/{{ actor.id }}" target="_blank" rel="bookmark">
                <img
                  *ngIf="actor.gender == 1"
                  src="assets/avatar-female.svg"
                  class="crew-profile-image"
                  alt=" profile image"
                />
                <img
                  *ngIf="actor.gender == 2 || actor.gender == 0"
                  src="assets/avatar-male.svg"
                  class="crew-profile-image"
                  alt=" profile image"
                />
              </a>
            </div>
            <div
              class="flex-column"
              *ngIf="
                actor.profile_path != 'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <a href="/crew/{{ actor.id }}" target="_blank" rel="bookmark">
                <img
                  [src]="actor.profile_path"
                  class="crew-profile-image"
                  alt=" profile image"
                />
              </a>
            </div>
            <div class="flex-column justify-content-center">
              <h5 class="fw-bold">{{ actor.original_name }}</h5>
              <h6 class="text-secondary">{{ actor.character }}</h6>
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-light" *ngIf="this.movie.directors.length != 0">
        Directors
      </h4>
      <div *ngFor="let director of this.movie.directors">
        <div class="card">
          <div class="flex-row gap-2">
            <div
              class="flex-column"
              *ngIf="
                director.profile_path ==
                'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <a href="/crew/{{ director.id }}" target="_blank" rel="bookmark">
                <img
                  *ngIf="director.gender == 1"
                  src="assets/avatar-female.svg"
                  class="crew-profile-image"
                  alt=" profile image"
                />
                <img
                  *ngIf="director.gender == 2 || director.gender == 0"
                  src="assets/avatar-male.svg"
                  class="crew-profile-image"
                  alt=" profile image"
                />
              </a>
            </div>
            <div
              class="flex-column"
              *ngIf="
                director.profile_path !=
                'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <a href="/crew/{{ director.id }}" target="_blank" rel="bookmark">
                <img
                  [src]="director.profile_path"
                  class="crew-profile-image"
                  alt=" profile image"
                />
              </a>
            </div>
            <div class="flex-column justify-content-center">
              <h5 class="fw-bold">{{ director.original_name }}</h5>
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-light" *ngIf="this.movie.writers.length != 0">Writers</h4>
      <div *ngFor="let writer of this.movie.writers">
        <div class="card">
          <div class="flex-row gap-2">
            <div
              class="flex-column"
              *ngIf="
                writer.profile_path == 'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <a href="/crew/{{ writer.id }}" target="_blank" rel="bookmark">
                <img
                  *ngIf="writer.gender == 1"
                  src="assets/avatar-female.svg"
                  class="crew-profile-image"
                  alt=" profile image"
                />
                <img
                  *ngIf="writer.gender == 2 || writer.gender == 0"
                  src="assets/avatar-male.svg"
                  class="crew-profile-image"
                  alt=" profile image"
                />
              </a>
            </div>
            <div
              class="flex-column"
              *ngIf="
                writer.profile_path != 'https://image.tmdb.org/t/p/originalnull'
              "
            >
              <a href="/crew/{{ writer.id }}" target="_blank" rel="bookmark">
                <img
                  [src]="writer.profile_path"
                  class="crew-profile-image"
                  alt=" profile image"
                />
              </a>
            </div>
            <div class="flex-column justify-content-center">
              <h5 class="fw-bold">{{ writer.original_name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-reviews
      [entertainmentType]="entertainmentType"
      [entertainmentTitle]="movie.original_title"
      [entertainmentImage]="movie.poster_path"
      (getAverage)="onGetAverage()"
    ></app-reviews>
  </div>
</ng-container>
<ng-container *ngIf="isLoaded && error">
  <div class="card text-center page-wrapper mt-5">
    <div class="card-header">
      <h5>Movie Not Found</h5>
    </div>
    <div class="card-img overflow-x-hidden">
      <img src="assets/not_found.svg" alt="" class="mt-2" />
    </div>
  </div>
</ng-container>
