<ng-container *ngIf="!isLoaded">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="isLoaded">
  <div class="page-wrapper">
    <div>
      <div class="card">
        <div class="flex-row gap-2">
          <div class="flex-column">
            <img [src]="this.book.cover_url" class="" alt=" profile image" />
          </div>
          <p-rating
            [(ngModel)]="average"
            class="rating"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
          <div class="flex-column justify-content-center">
            <h5 class="fw-bold">{{ this.book.id }}</h5>
            <h6 class="text-secondary">{{ this.book.title }}</h6>
            <a href="{{ this.book.webReaderLink }}">webReaderLink</a>
            <h6 class="text-secondary">{{ this.book.pageCount }}</h6>
            <h6 class="text-secondary">{{ this.book.favorite_count }}</h6>
          </div>
        </div>
        <div *ngFor="let genre of this.book.categories">
          <div class="card">
            {{ genre }}
          </div>
        </div>
        <div *ngFor="let author of this.book.authors">
          <div class="card">
            {{ author }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-reviews
      [entertainmentType]="entertainmentType"
      [entertainmentTitle]="book.title"
      [entertainmentImage]="book.cover_url"
      (getAverage)="onGetAverage()"
    ></app-reviews>
  </div>
</ng-container>
