<ng-container>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top">
      <ul class="navbar-nav my-2 flex-container">
        <li
          class="nav-item justify-content-center align-items-center text-center flex-row pointer"
          routerLink=""
        >
          <a class="ms-1 footer-logo flex-column"
            ><img src="../../../assets/logo.png" alt=" Logo" height="50px"
          /></a>
          <h2 class="ms-2 title flex-column">Spiral</h2>
        </li>
        <li>
          <div class="search">
            <span class="text-nowrap">
              <input
                id="projectNameInput"
                name="speciesNameSearch"
                type="search"
                placeholder="Search..."
                class="searchbar"
                [(ngModel)]="this.input"
                (keyup.enter)="onSearch()"
              />
              <button class="btn" type="button" (click)="onSearch()">
                <i class="fi fi-br-search text-light"></i>
              </button>
            </span>
          </div>
        </li>
        <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
        <li>
          <p-menu
            #menu
            [model]="items"
            [popup]="true"
            appendTo="body"
            styleClass="mt-3"
          ></p-menu>
          <div>
            <button
              class="btn p-0 m-0"
              type="button"
              (click)="menu.toggle($event)"
            >
              <img
                *ngIf="!isNaN(this.userid)"
                [src]="images"
                class="user-profile-image"
                alt="user profile image"
              />
              <img
                *ngIf="isNaN(this.userid)"
                src="assets/avatar.svg"
                class="user-profile-image"
                alt="user profile image"
              />
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </header>
</ng-container>
